<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
	 <welcome-file-list>
	    <welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>
  
    <servlet>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <servlet-class>test.ManoServletas</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Servlet Name For Demo1</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Pagal ideja toks sumapinmas tinka ? o_0 -->
    <servlet>
      <servlet-name>Index JSP</servlet-name>
      <jsp-file>/WEB-INF/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>Index JSP</servlet-name>
      <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>Error JSP</servlet-name>
      <jsp-file>/WEB-INF/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
      <servlet-name>Error JSP</servlet-name>
      <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
</web-app>